<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>说说</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">说说</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="/">首页</a></li>
                            <li><a href="/communication">交流</a></li>
                            <li><a href="/signUp">注册</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="inner cover">
                <h1 class="cover-heading">欢迎 来到 说说...</h1>
                <p class="lead">人们用喇叭声说着 我在这里 他们一再放大音量 可是你不会被干扰 因为 外在的喇叭声 也不能掩盖你的内心 全速前进的引擎声 不喧哗 自有声 在这里 我们可以安静地说你想说
                    别克君越 新君子之道.</p>
                <p class="lead">
                    <a href="/communication" class="btn btn-lg btn-default">了解更多</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
